<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Advanced Queries</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="stylesheets/style.css">
 </head>

 <body>

<header class="header">
        <div class="header__brand">
            <a class="header__logo" href="">
                <img src={logo} class="header__img"></img>
            </a>

            <h1 class="header__title">National Bias Tracker</h1>
        </div>

        <nav class="primary-nav">
            <ul class="primary-nav__list">
                <li class="primary-nav__item">
                    <a href="competitions" method="GET" class='primary-nav__link'>Competitions</Link>
                </li>
                <li class="primary-nav__item">
                      <a href="skaters" method="GET" class='primary-nav__link'>Skaters</Link>
                </li>
                <li class="primary-nav__item">
                      <a href="judges" method="GET" class='primary-nav__link'>Judges</Link>
                </li>
                <li class="primary-nav__item">
                    <a href="queries" method="GET" class="primary-nav__link" href="">Bias Visualizer</a>
                </li>
                <li class="primary-nav__item">
                    <a class="primary-nav__link" href="">Login</a>
                </li>
            </ul>
        </nav>
 </header>

<div class="table-container">
        <h2 class="table-header">Avg Score Judge Gave Each Nationality</h2>
        <table class="table">
          <tbody class="table__body">
            <tr class="table__row table__row--dark">
              <th class="table__header">Judge Name</th>
              <th class="table__header">Judge Nationality</th>
	      <th class="table__header">Skater Nationality</th>
	      <th class="table__header">Average Score</th>
            </tr>

         <%
          if(query1.length!=0){
          var i=1;
          query1.forEach(function(query1){
          %>
          <tr class='table__row'>
            <td class='table__data'><%=query1.judgeName %></td>
            <td class='table__data'><%=query1.judgeNat  %></td>
	    <td class='table__data'><%=query1.skaterNat  %></td>
	    <td class='table__data'><%=query1.avgScoreFromJudge  %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td class='table__data' colspan="7">No Data Found</td>
            </tr>
        <% } %> 
	</table>

</div>

<div class="table-container">
        <h2 class="table-header">Highest, Lowest and Avg Score a Judge Gave Each Nationality</h2>
        <table class="table">
          <tbody class="table__body">
            <tr class="table__row table__row--dark">
              <th class="table__header">Judge Name</th>
              <th class="table__header">Lowest Score</th>
              <th class="table__header">Highest</th>
              <th class="table__header">Average Score</th>
            </tr>

         <%
          if(query2.length!=0){
          var i=1;
          query2.forEach(function(query2){
          %>
          <tr class='table__row'>
            <td class='table__data'><%=query2.judgeName %></td>
            <td class='table__data'><%=query2.minScore  %></td>
            <td class='table__data'><%=query2.maxScore  %></td>
            <td class='table__data'><%=query2.avgScore  %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td class='table__data' colspan="7">No Data Found</td>
            </tr>
        <% } %>

</div>
