
<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Advanced Queries</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="stylesheets/style.css">
 </head>

 <body>

<header class="header">
        <div class="header__brand">
            <a class="header__logo" method="GET" href="/">
                <img src='https://storage.cloud.google.com/cs411-11-8-22/logo.png' class="header__img"/>
            </a>

            <h1 class="header__title">National Bias Tracker</h1>
        </div>

        <nav class="primary-nav">
            <ul class="primary-nav__list">
                <li class="primary-nav__item">
                    <a href="competitions" method="GET" class='primary-nav__link'>Competition
                </li>
                <li class="primary-nav__item">
                      <a href="skaters" method="GET" class='primary-nav__link'>Skaters
                </li>
                <li class="primary-nav__item">
                      <a href="judges" method="GET" class='primary-nav__link'>Judges
                </li>
		<li class="primary-nav__item">
                    <a href="advancedQueries" class="primary-nav__link">Advanced Queries</a>
                </li>
                <li class="primary-nav__item">
                    <a href="advancedQueriesVisual" class="primary-nav__link">Bias Visualizer</a>
                </li>
                <li class="primary-nav__item">
                    <a class="primary-nav__link" href="biasedJudges">Biased Judges</a>
                </li>
            </ul>
        </nav>
 </header>


 <div class="visual-container">
  <h2 class="visual-container__header">Individual Judge's Average Scores Per Country</h2>
  <h3 class="visual-container__judgeName"> <%=query1[0].judgeName%>, <%=query1[0].judgeNat%> </h3>  
  <form class="judge-selection" action="/advancedQueriesVisual-select" method="POST">
    <select class="judge-selection__select" id="judgeName" name="judgeName">
   
    <%
          if(query2.length!=0){
          var i=1;
          query2.forEach(function(judges){
          %>
          <option value='<%=judges.judgeName%>'><%=judges.judgeName%></option>
         <%  i++; })} %>
    </select>

    <button class="btn btn-submit" type="submit">Search</button>
  </form>

  <%-
    barChartHelper.getBarChart({
     data: query1,
     width: 800,
     height: 400,
     xAxisLabel: 'Nationalities',
     yAxisLabel: 'Average Score',
     containerId: 'bar-chart'
    })
  %>
</div>

</body>
</html>
